@charset "utf-8";
main{
    max-width: 800px;
    margin: auto;
}
body{
    background-image: url("kepek/hatter1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
article{
    background-color: whitesmoke;
}
table, td, th{
    border: 1px solid gray;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th {
    background: linear-gradient(180deg,#c80000,#ffffff,#09ab23);
    
}
section{
    background-color: whitesmoke;
}
footer{
    background-color: whitesmoke;
    padding: 10px;
}
#rendez{
    padding-top: 10px;
}
nav a {
    padding-left: 10px;
}
@keyframes gradient{
    0%{background-position: 0%}
    100%{background-position: 100%}
}